body{
    background-image: url('assets/bgimg.jpg');
    text-align: center;
    color: #006400;
    
}

.div1 {
    border-radius: 50px;
}

* {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
}
input.form{
    border: 2px solid green;
}
h1{
    color:black;
    font-size: 40px;
}